.splash-container {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 20px;

  background:
    radial-gradient(circle at 20% 20%, rgba(34,197,94,0.25), transparent 40%),
    radial-gradient(circle at 80% 80%, rgba(16,185,129,0.2), transparent 40%),
    #0b0f19;
}

/* grid background */

.splash-container::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(rgba(34,197,94,0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(34,197,94,0.07) 1px, transparent 1px);

  background-size: 60px 60px;

  pointer-events: none;
}

/* glow background */

.splash-container::before {
  content: "";
  position: absolute;

  width: 600px;
  height: 600px;

  background: radial-gradient(
    circle,
    rgba(34,197,94,0.35),
    rgba(34,197,94,0.15),
    transparent 70%
  );

  filter: blur(120px);

  animation: glowMove 8s ease-in-out infinite alternate;
}

@keyframes glowMove {
  0% {
    transform: translate(-100px,-50px);
  }
  50% {
    transform: translate(100px,50px);
  }
  100% {
    transform: translate(-50px,80px);
  }
}

/* card */

.splash-card {
  width: 420px;

  padding: 45px 35px;

  text-align: center;

  border-radius: 20px;

  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.15);

  box-shadow:
    0 0 80px rgba(34,197,94,0.35),
    inset 0 0 20px rgba(255,255,255,0.05);

  position: relative;
  z-index: 10;

  color: white;

  animation: floatCard 5s ease-in-out infinite;
}

/* floating animation */

@keyframes floatCard {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* image */

.splash-image {
  width: 180px;
  margin-bottom: 25px;
  filter: drop-shadow(0 0 10px rgba(34,197,94,0.6));
}

/* title */

.splash-title {
  font-size: 32px;
  font-weight: 700;
  color: #55b640;
  margin-bottom: 15px;
}

/* subtitle */

.splash-subtitle {
  font-size: 15px;
  color: #cbd5e1;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* button */

.splash-btn {
  width: 100%;
  padding: 14px;

  border-radius: 30px;

  background: linear-gradient(90deg,#22c55e,#16a34a);

  border: none;

  color: white;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.splash-btn:hover {
  transform: translateY(-2px);

  box-shadow:
    0 0 20px rgba(34,197,94,0.6);
}

.splash-btn:active {
  transform: scale(0.98);
}